.cover__link {
  padding: 13px 20px;
  text-decoration: none;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
}

.cover__link:hover {
  background-color: #0063d2;
}
