@media (min-width: 768px) {
  .photo-grid {
    max-width: 95%;
    margin: 0 auto 92px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 16px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    max-width: 95%;
    margin: 0 auto 92px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 16px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    max-width: 90%;
    margin: 0 auto 62px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    grid-gap: 12px;
  }
}
