.intro__quote-author {
  max-width: 720px; /*as in 1280 viewport on figma as far as I'm seeing right now!*/
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 34px;
  text-align: right;
}
