.cover__subtitle {
  width: 22%;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 0 0 32px 0;
}

@media (max-width: 320px) {
  .cover__subtitle {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 16px 0;
    height: auto;
  }
}
