.cover__subtitle {
  width: 288px;
  height: 66px;
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 0 0 32px 0;
}
