.cover {
  background-image: url("../../images/cover/cover__background.jpeg");
  margin: 0 auto;
  width: 92.5%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.cover:hover .cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2a2c2f;
  opacity: 0.8;
  z-index: 0;
}

@media (max-width: 768px) {
  .cover {
    width: 100%;
    height: 746px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 64px 0 0 0;
    width: 100%;
    height: 254px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
