.place__link {
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
  max-height: 22px;
  max-width: 208px;
}

.place__link:hover {
  background-color: #0063d2;
}

@media (max-width: 510px) {
  .place__link {
    max-height: 66px;
  }
}

@media (max-width: 320px) {
  .place__link {
    text-align: center;
    padding: 13px 40px;
    width: 65%;
    margin: 0 auto;
    max-height: fit-content;
  }
}
