.place__link {
  margin: 48px 0 0 0;
  padding: 13px 20px;
  text-decoration: none;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
}

@media (max-width: 768px) {
  .place__link {
    margin: 61px 0 0 0;
    display: inline-block;
  }
}
