.place {
  width: 77%;
  max-width: 984px;
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title artist"
    "photo text"
    "button text";
}

@media (max-width: 768px) {
  .place {
    width: 93%;
    margin: 0 auto 72px auto;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 92px 340px 1fr;
    grid-gap: 48px 32px;
  }
}

@media (max-width: 480px) {
  .place {
    grid-template-columns: 248px 1fr;
    grid-template-rows: 80px 248px 1fr;
  }
}

@media (max-width: 320px) {
  .place {
    margin: 0 auto 50px auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 67px 320px 1fr 48px;
    grid-template-areas:
      "title"
      "artist"
      "photo"
      "text"
      "text"
      "button";
    grid-gap: 30px;
  }
}
