.place {
  width: 77%;
  max-width: 984px;
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title artist"
    "photo text"
    "button text";
}

.place:last-of-type {
  margin-bottom: 92px;
}

@media (max-width: 1100px) {
  .place {
    grid-template-columns: 60% 1fr;
    grid-template-rows: 152px fit-content(340px) 1fr;
  }
}

@media (max-width: 768px) {
  .place {
    width: 93%;
    margin: 0 auto 72px auto;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 46px 340px 1fr;
    grid-gap: 48px 32px;
  }
}

@media (max-width: 600px) {
  .place {
    margin: 0 auto 50px auto;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(46px) 67px 320px 1fr 48px;
    grid-template-areas:
      "title"
      "artist"
      "photo"
      "text"
      "text"
      "button";
    grid-gap: 30px;
  }
  .place:last-of-type {
    margin-bottom: 64px;
  }
}

@media (max-width: 320px) {
  .place {
    width: 100%;
    grid-template-rows: 35px 67px fit-content(320px) 1fr 48px;
  }
}
