.place {
  margin: 0 auto 80px auto;
  width: 80%;
}

@media (max-width: 768px) {
  .place {
    width: 93%;
  }
}

@media (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }
}
