@media (min-width: 769px) {
  .place__photo-column {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .place__photo-column {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .place__photo-column {
    width: 100%;
    margin: 0 auto;
  }
}
